/* === html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark === */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Crimson Text', serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background: url(bg.JPG) no-repeat center/cover fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
body:before {
  content: "";
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  position: fixed;
  top: 0;
  left: 0;
  animation: fadein 1s 2s forwards;
  -webkit-animation: fadein 1s 2s forwards;
  opacity: 0;
}
.letter {
  text-align: center;
  animation: fadein 1s 2s forwards;
  -webkit-animation: fadein 1s 2s forwards;
  opacity: 0;
}
.font {
    font-family: 'Pacifico', cursive;
}
h1 {
    font-family: 'Pacifico', cursive;
  font-size: 70px;
  margin-top: 10px;
}
p {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 45px;
  margin: 2rem 0;
}
.sign {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
.br {
  display: none;
}
@media screen and (max-width:736px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 17px;
        line-height: 35px;
    }
    span {
        display: none;
    }
    .sign {
        font-size: 25px;
    }
    .br::after {
        content: "\A";
        white-space: pre;
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
